# Feature Scaling

## Mix/Max Sacling

In [30]:
# Min Max sacling in scikit-learn
from sklearn.preprocessing import MinMaxScaler
# import pandas also for loading the dataset
import pandas as pd

# create a data sample
data = {'sample_data' :[10,20,30,40,50]}

# Add data to the dataframe
df = pd.DataFrame(data)

# Create a MinMaxScaler object
scaler = MinMaxScaler()
df['minMax_Scaled_data'] = scaler.fit_transform(df[['sample_data']])
df

   sample_data  minMax_Scaled_data
0           10                0.00
1           20                0.25
2           30                0.50
3           40                0.75
4           50                1.00

# Standardization (z-score Normallization)

In [31]:
# standardization (z-score normallization) in scikit-learn
from sklearn.preprocessing import StandardScaler

# create the standardscalar object
scaler = StandardScaler()
df['standard_scaled_data'] = scaler.fit_transform(df[['sample_data']])
df

   sample_data  minMax_Scaled_data  standard_scaled_data
0           10                0.00             -1.414214
1           20                0.25             -0.707107
2           30                0.50              0.000000
3           40                0.75              0.707107
4           50                1.00              1.414214

# Robust Scalar

In [36]:
# standardization (z-score normallization) in scikit-learn
from sklearn.preprocessing import RobustScaler

# create a data sample
data = {'sample_data_2' :[10,20,30,1000,50]}

# Add data to the dataframe
df = pd.DataFrame(data)


# create the standardscalar object
scaler = RobustScaler()
df['roust_scaled_data'] = scaler.fit_transform(df[['sample_data_2']])
df

   sample_data_2  roust_scaled_data
0             10          -0.666667
1             20          -0.333333
2             30           0.000000
3           1000          32.333333
4             50           0.666667

# Logrithmic Scaling / Normallization

In [40]:
import pandas as pd 
import numpy as np

# random data with outliers
data = {'sample_data_3' : [10000,20000,30000,100000,50000]}
df = pd.DataFrame(data)

# log transform from np
df['sample_data_3_log'] = np.log(df['sample_data_3'])
df['sample_data_3_10'] = np.log10(df['sample_data_3'])
df['sample_data_3_log2'] = np.log2(df['sample_data_3'])

df

   sample_data_3  sample_data_3_log  sample_data_3_10  sample_data_3_log2
0          10000           9.210340          4.000000           13.287712
1          20000           9.903488          4.301030           14.287712
2          30000          10.308953          4.477121           14.872675
3         100000          11.512925          5.000000           16.609640
4          50000          10.819778          4.698970           15.609640