# Feature Encoding

## One Shot Encoding

In [1]:
import pandas as pd
# Sample data
data = {'Color': ['Red','Green', 'Blue' , 'Red']}
df = pd.DataFrame(data)

# One-hot Encoding
df_oneHot = pd.get_dummies(df, columns=['Color'])
df_oneHot

   Color_Blue  Color_Green  Color_Red
0       False        False       True
1       False         True      False
2        True        False      False
3       False        False       True

# Label Encoding

In [2]:
# Label encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# Samle data
df = pd.DataFrame({'Animal': ['Dog', 'Cat', 'Bird', 'Dog', 'Bird']})
df['Animal_Encoded'] = le.fit_transform(df['Animal'])
df

  Animal  Animal_Encoded
0    Dog               2
1    Cat               1
2   Bird               0
3    Dog               2
4   Bird               0

In [3]:
from sklearn.preprocessing import OrdinalEncoder
# Sample data
data = ({'Size': ['Small', 'Medium', 'Large', 'Medium' ]})
df = pd. DataFrame(data)
print (df)
# Ordinal Encoding
ordinal_encoder = OrdinalEncoder(categories=[['Small', 'Medium', 'Large']])
df[ 'Size_encoded '] = ordinal_encoder. fit_transform(df[['Size']])
print(df)

     Size
0   Small
1  Medium
2   Large
3  Medium
     Size  Size_encoded
0   Small            0.0
1  Medium            1.0
2   Large            2.0
3  Medium            1.0