In [23]:
import pandas as pd 

# Example datasets for data merging
# Dataset 1: Pakistani Individuals 
data1 = {
    'id': [1, 2, 3, 4, 5],
    'name': [ 'Maryam', 'Hasnain','Ahmed', 'Fatima', 'Hassan'],
    'age': [20, 20, 30, 30, 40],
    'gender': ['Female','Male',  'Male', 'Female', 'Male']
}
df1 = pd.DataFrame(data1)
print(df1)

print('-----------------------------')
# Dataset 2: Additional Information
data2 = {
    'id': [1, 2, 3, 4, 5],
    'city': ['Lahore', 'Karachi', 'Lahore', 'Karachi', 'Karachi'],
    'country': ['Pakistan', 'Pakistan', 'Pakistan', 'Pakistan', 'Pakistan']
}
df2 = pd.DataFrame(data2)
print(df2)

   id     name  age  gender
0   1   Maryam   20  Female
1   2  Hasnain   20    Male
2   3    Ahmed   30    Male
3   4   Fatima   30  Female
4   5   Hassan   40    Male
-----------------------------
   id     city   country
0   1   Lahore  Pakistan
1   2  Karachi  Pakistan
2   3   Lahore  Pakistan
3   4  Karachi  Pakistan
4   5  Karachi  Pakistan

In [24]:
# Merging the datasets on 'id' column
merged_df = pd.merge(df1, df2, on='id', how='inner')
merged_df

   id     name  age  gender     city   country
0   1   Maryam   20  Female   Lahore  Pakistan
1   2  Hasnain   20    Male  Karachi  Pakistan
2   3    Ahmed   30    Male   Lahore  Pakistan
3   4   Fatima   30  Female  Karachi  Pakistan
4   5   Hassan   40    Male  Karachi  Pakistan

# Concatenation

In [29]:
import pandas as pd

# Example datasets for Pakistani context
# Dataset 1 - Pakistani Names and Ages
data1 = {'Name': ['Ahmed', 'Fatima', 'Ali'], 'Age': [28, 32, 24]}
# Dataset 2 - More Pakistani Names and Ages
data2 = {'Name': ['Sara', 'Usman', 'Aisha'], 'Age': [29, 35, 27]}
# Dataset 3 - Cities and Provinces in Pakistan
data3 = {'City': ['Karachi', 'Lahore', 'Islamabad'], 'Province': ['Sindh', 'Punjab', 'Islamabad']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)

# Concatenating Rows
concatenated_rows = pd.concat([df1, df2])

# Concatenating Columns
# Note: For a meaningful column-wise concatenation, dataframes should have the same number of rows.
concatenated_columns = pd.concat([df1, df3], axis=1)
print(concatenated_rows)
print("---------------")
concatenated_columns

     Name  Age
0   Ahmed   28
1  Fatima   32
2     Ali   24
0    Sara   29
1   Usman   35
2   Aisha   27
---------------

     Name  Age       City   Province
0   Ahmed   28    Karachi      Sindh
1  Fatima   32     Lahore     Punjab
2     Ali   24  Islamabad  Islamabad