## *Performing Manual EDA*

In [39]:
# Import libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
# import ydata_profiling as yd

In [40]:
# import the data 
df = pd.read_csv('./googleplaystore.csv')

In [41]:
# check the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10839 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

In [42]:
                                                #lets have a look on the data 
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [43]:
# Take random sample from dataset
df.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
9981,PokeType - Dex,FAMILY,4.6,36813,33M,"500,000+",Free,0,Everyone,Entertainment,"May 1, 2018",4.2.0,4.1 and up
7642,Alex & Co Quiz,GAME,NaN,9,4.9M,"1,000+",Free,0,Everyone,Trivia,"April 15, 2018",1.2,4.1 and up
7305,CG 3D Model Viewer: view 3D models interactively,TOOLS,NaN,0,10M,100+,Free,0,Everyone,Tools,"July 26, 2018",1.0.4.91,4.4 and up
281,Invoice & Time Tracking - Zoho,BUSINESS,4.6,5800,8.6M,"100,000+",Free,0,Everyone,Business,"August 2, 2018",5.20.7,4.1 and up
2362,Castlight Mobile,MEDICAL,3.7,529,26M,"100,000+",Free,0,Everyone,Medical,"July 30, 2018",4.4.7,5.0 and up
8190,Siren Ringtones,PERSONALIZATION,4.2,42190,11M,"5,000,000+",Free,0,Teen,Personalization,"July 8, 2018",Varies with device,Varies with device
520,EliteSingles – Dating for Single Professionals,DATING,2.5,5377,19M,"500,000+",Free,0,Mature 17+,Dating,"July 31, 2018",4.8.5,4.0.3 and up
643,i miss you quotes and photos,DATING,NaN,0,5.0M,100+,Free,0,Everyone,Dating,"July 22, 2018",1.0.7,4.0 and up
3953,8 Ball Pool,SPORTS,4.5,14184910,52M,"100,000,000+",Free,0,Everyone,Sports,"July 31, 2018",4.0.0,4.0.3 and up
6040,Vehicle Case Checker BD,TOOLS,3.7,29,3.3M,"10,000+",Free,0,Everyone,Tools,"July 13, 2017",1.0,4.1 and up

In [44]:
# describe on works on numeric columns
df.describe()

            Rating       Reviews
count  9367.000000  1.084100e+04
mean      4.191513  4.441119e+05
std       0.515735  2.927629e+06
min       1.000000  0.000000e+00
25%       4.000000  3.800000e+01
50%       4.300000  2.094000e+03
75%       4.500000  5.476800e+04
max       5.000000  7.815831e+07

In [45]:
df.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
4859,Angry Birds Evolution,FAMILY,4.5,384602,88M,"10,000,000+",Free,0,Everyone,Role Playing,"July 30, 2018",1.21.1,5.0 and up
9508,Ringtones Of Ek Onkar,FAMILY,4.5,6,3.9M,"1,000+",Free,0,Everyone,Entertainment,"May 31, 2017",1.0,4.0.3 and up
10535,FK Vojvodina,SPORTS,NaN,5,26M,50+,Free,0,Everyone,Sports,"February 19, 2018",1.0,4.1 and up
8982,DW VMAX,TOOLS,3.4,843,8.5M,"100,000+",Free,0,Everyone,Tools,"May 4, 2017",3.7.1,2.2 and up
8474,Bilingual Dictionary Audio App,BOOKS_AND_REFERENCE,2.7,68,87M,"5,000+",Free,0,Everyone,Books & Reference,"May 2, 2018",1.0.0.22,4.1 and up
1986,Cut the Rope FULL FREE,GAME,4.4,2123793,49M,"100,000,000+",Free,0,Everyone,Puzzle,"July 5, 2018",3.7.2,4.1 and up
2348,Moodpath - Depression & Anxiety Test,MEDICAL,4.6,6035,8.9M,"100,000+",Free,0,Everyone,Medical,"July 5, 2018",1.2.0,4.4 and up
3526,Google Sheets,PRODUCTIVITY,4.3,496399,Varies with device,"100,000,000+",Free,0,Everyone,Productivity,"August 6, 2018",Varies with device,Varies with device
4020,C Pattern Programs Free,FAMILY,4.5,4115,5.8M,"100,000+",Free,0,Everyone,Education,"July 8, 2018",7.1.0,4.0 and up
9027,Across Age DX,FAMILY,3.8,5964,48M,"500,000+",Free,0,Teen,Role Playing,"January 9, 2015",1.1.0,2.2 and up

 #### **Write all numeric veriable and make them numeric**
1. `Size`
2. ``Install``
3. `Price`

Check that how many MBs are in one KB? And how to calculate? 
  1.  ## Size
  . Covert KBs into MBs \
  . Then remove M from all numbers \
  . Handle `varies eith device`

In [46]:
df['Size'].isnull().sum()

np.int64(0)

In [47]:
df['Size'].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '470k',
       '226k', '240k', '89k', '234k', '257k', '861k', '467k', '157k',
       '44k', '676k', '67k', '552k', '885k', '1020k', '582k', '619k'],
      dtype=object)

In [48]:
df['Size'] = df['Size'].astype(str).str.replace('k','M').astype(float) * 1024 / 1024

ValueError: could not convert string to float: '19M'

In [ ]:
df['Size'].value_counts()

Size
11.0    198
12.0    196
14.0    194
13.0    191
15.0    184
       ...
84.0      9
89.0      9
86.0      8
1.0       7
90.0      6
Name: count, Length: 181, dtype: int64

2. ## Install

In [ ]:
df['Installs'].isnull().sum()

np.int64(0)

In [ ]:
df['Installs'].value_counts()

Installs
1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             908
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
0                    1
Name: count, dtype: int64

3. ## Price 
    1. Remove $ sign from Price

In [ ]:
df['Price'].isnull().sum()

np.int64(0)

In [ ]:
df['Price'].value_counts()

Price
0          10041
$0.99        148
$2.99        129
$1.99         73
$4.99         72
           ...
$3.61          1
$394.99        1
$1.26          1
$1.20          1
$1.04          1
Name: count, Length: 92, dtype: int64

In [ ]:
# convert price object to numeric
df['Price'] = pd.to_numeric(df['Price'].replace('$','') ,errors='coerce' )

In [ ]:
#convert installs object to numeric
# df['Installs'] = pd.to_numeric(df['Installs'].str.replace('+', '').str.replace(',', ''), errors='coerce') 
df['Installs'] = pd.to_numeric(df['Installs'].str.replace('+','').str.replace(',','') , errors='coerce')

In [ ]:
df['Size']  = pd.to_numeric(df['Size'].str.replace('M','') , errors='coerce')

In [49]:
df.isnull().sum() / len(df)*100

App                0.000000
Category           0.009224
Rating            13.596532
Reviews            0.000000
Size               0.000000
Installs           0.000000
Type               0.009224
Price              0.000000
Content Rating     0.000000
Genres             0.009224
Last Updated       0.000000
Current Ver        0.073794
Android Ver        0.018448
dtype: float64

In [37]:
# df.fillna(df['Rating'].mean(),inplace=True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            8830 non-null   float64
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10839 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 1.1+ MB

In [ ]:
# #ASSIGNMENT DAY_14 
# import pandas as pd 
# # Load the dataset into a pandas DataFrame 
# df = pd.read_csv('googleplaystore.csv') 

# # # Convert the numeric columns to numeric data type

# df['Rating'] = pd.to_numeric(df['Rating'], errors='coerce')

# df['Reviews'] = pd.to_numeric(df['Reviews'], errors='coerce') 

# df['Size'] = pd.to_numeric(df['Size'].str.replace('M', ''), errors='coerce') 

# df['Installs'] = pd.to_numeric(df['Installs'].str.replace('+', '').str.replace(',', ''), errors='coerce') 

# df['Price'] = pd.to_numeric(df['Price'].str.replace('$', ''), errors='coerce') 

# # Print the data types of the columns print(df.dtypes)

In [ ]:
# GPlay_Rep = yd.ProfileReport(df)
# GPlay_Rep.to_file(output_file='./Goolge_PLAystore_Report.html')

In [33]:
df['Rating'].mean()

np.float64(4.191512757553112)

In [ ]:
# df.fillna(df['Rating'].mean(),inplace=True)

In [ ]:
# df['Rating'] = pd.to_numeric(df['Rating'], errors='coerce')