In [2]:
# How to find version of pandas
import pandas as pd
pd.__version__

'2.2.3'

In [3]:
# another
pv = pd.show_versions()
pv

INSTALLED VERSIONS
------------------
commit                : 0691c5cf90477d3503834d983f69350f250a6ff7
python                : 3.13.0
python-bits           : 64
OS                    : Windows
OS-release            : 11
Version               : 10.0.26100
machine               : AMD64
processor             : Intel64 Family 6 Model 142 Stepping 10, GenuineIntel
byteorder             : little
LC_ALL                : None
LANG                  : None
LOCALE                : English_Pakistan.1252

pandas                : 2.2.3
numpy                 : 2.1.2
pytz                  : 2024.2
dateutil              : 2.9.0.post0
pip                   : 24.2
Cython                : None
sphinx                : None
IPython               : 8.29.0
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : None
blosc                 : None
bottleneck            : None
dataframe-api-compat  : None
fastparquet           : None
fsspec                : None
html5lib              : None
hypothesis            : None
gcsfs                 : None
jinja2                : None
lxml.etree            : None
matplotlib            : 3.9.2
numba                 : None
numexpr               : None
odfpy                 : None
openpyxl              : 3.1.5
pandas_gbq            : None
psycopg2              : None
pymysql               : None
pyarrow               : None
pyreadstat            : None
pytest                : None
python-calamine       : None
pyxlsb                : None
s3fs                  : None
scipy                 : None
sqlalchemy            : None
tables                : None
tabulate              : None
xarray                : None
xlrd                  : None
xlsxwriter            : None
zstandard             : None
tzdata                : 2024.2
qtpy                  : None
pyqt5                 : None

In [4]:
# create rows and column
df1 = pd.DataFrame({"A col": [1,2,3,4,5],"B col" : [6,7,8,9,10]})

In [5]:
# numpy array use to create dataframe
import  numpy as np
npa1  = np.array([[1,2,3],[4,5,6],[7,8,9]])
npa1
pd.DataFrame(npa1)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [6]:
pd.DataFrame(np.random.rand(5,6) , columns=list("ABCDEF"))

          A         B         C         D         E         F
0  0.696833  0.806920  0.044121  0.711846  0.473418  0.432351
1  0.580982  0.904907  0.814819  0.628383  0.120636  0.521490
2  0.420459  0.932005  0.640117  0.275158  0.818209  0.935180
3  0.020654  0.989202  0.999848  0.310048  0.629204  0.394329
4  0.636211  0.137722  0.181866  0.656147  0.109467  0.149310

In [13]:

import pandas as pd
import numpy as np
import seaborn as  sns

df2 = sns.load_dataset("iris")
# df2.describe()
df2.columns
df2.to_csv("Iris.csv")