# Webscrapping

In [80]:
# import libraries for webscrapping
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [81]:
# define the url
url = 'https://en.wikipedia.org/wiki/World_population'

# request the page
response = requests.get(url)

# parse the html content
html = response.content 
soup = BeautifulSoup(html, 'html.parser')

In [82]:
# lets check the title of the page
print(soup.title)
print(soup.title.text)

# print(soup.prettify()) # print whole html content
# find all the tables 
tables = soup.find_all('table')

dataframe = [] # create an empty list to store the data
# for table in tables:
#     rows = table.find_all('tr') # find all the rows in the table
#     for row in rows:
#         cols = row.find_all('td') # find all the columns in the row
#         cols = [col.text.strip() for col in cols] # strip the text and store in a list
#         dataframe.append(cols) # append the list to the dataframe

<title>World population - Wikipedia</title>
World population - Wikipedia

In [83]:
for i, table in enumerate(tables):
    row = table.find_all('tr')[1:] # skip the first row
    data = []
    for j in row:
        cols = j.find_all('td') # find all the columns in the row
        cols = [col.text.strip() for col in cols] # strip the text and store in a list
        data.append(cols) # append the list to the dataframe
    df = pd.DataFrame(data)
    dataframe.append(df)

In [89]:
dataframe[3].head()

,0,1,2,3,4
0,India,"1,425,775,850",17.4%,14 Apr 2023,UN projection[89]
1,China,"1,409,670,000",17.2%,17 Jan 2024,National annual estimate[90]
2,United States,"337,880,986",4.13%,17 May 2025,National population clock[91]
3,Indonesia,"278,696,200",3.41%,1 Jul 2023,National annual estimate[92]
4,Pakistan,"229,488,994",2.81%,1 Jul 2022,UN projection[93]