In [1]:
import math

In [2]:
# Example Dataset
nA = 4
nB = 6
total = nA + nB

In [3]:
#  lets calculate the proportions

pA = nA / total
pB = nB / total

# print these 
print("P(A):", pA)
print("P(B):", pB)

P(A): 0.4
P(B): 0.6

In [4]:
# Entropy calculate 
# Entropy is a measure of uncertainty
entropy = -(pA * math.log2(pA) - pB * math.log2(pB))

print("Entropy:", entropy)

Entropy: 0.08659188145522112

In [5]:
# Gini impurity is a measure of uncertainty
gini = 1-(pA**2 + pB**2)

print("Gini Impurity:", gini)

Gini Impurity: 0.48

---------------
# Decision Tree Example

In [20]:
# import libraries 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier ,plot_tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix , classification_report
from sklearn.preprocessing import LabelEncoder , StandardScaler
from sklearn.impute import SimpleImputer

In [7]:
# load titanic dataset
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [8]:
# drop deck col
df = df.drop(['deck' ] , axis=1)

# impute missing values of age and fare using SimpleImputer with median
imputer = SimpleImputer(strategy='median')
df[['age','fare']] = imputer.fit_transform(df[['age' , 'fare']])

# impute missing values of embarked and embarked_town with mode 
imputer =  SimpleImputer(strategy='most_frequent')
df[['embarked' , 'embark_town']] = imputer.fit_transform(df[['embarked' , 'embark_town']])

In [9]:
df.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [10]:
# Encode the categorical and object columns using LabelEncoder
for col in df.select_dtypes(include=['object' , 'category']):
    df[col] = LabelEncoder().fit_transform(df[col])

In [11]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,2,2,1,True,2,0,False
1,1,1,0,38.0,1,0,71.2833,0,0,2,False,0,1,False
2,1,3,0,26.0,0,0,7.9250,2,2,2,False,2,1,True
3,1,1,0,35.0,1,0,53.1000,2,0,2,False,2,1,False
4,0,3,1,35.0,0,0,8.0500,2,2,1,True,2,0,True

In [12]:

# split the data into X and y
X = df.drop(['survived' ,'alive' ], axis = 1)
y = df['survived']

# split the data into train and test
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.2 , random_state = 42)

In [13]:
# create a decision tree classifier with pred
dt = DecisionTreeClassifier()
dt.fit(X_train , y_train)

# predict the test data
y_pred = dt.predict(X_test)

In [14]:
# evaluate the model
print(confusion_matrix(y_test , y_pred))
print(classification_report(y_test , y_pred))

[[81 24]
 [20 54]]
              precision    recall  f1-score   support

           0       0.80      0.77      0.79       105
           1       0.69      0.73      0.71        74

    accuracy                           0.75       179
   macro avg       0.75      0.75      0.75       179
weighted avg       0.76      0.75      0.76       179

In [15]:
# save the decision tree classifier
from sklearn.tree import export_graphviz

export_graphviz(dt , out_file='tree.dot' , feature_names=X.columns , filled=True , rounded=True)